<div class="row">
    <div class="main-header">
        <h1>Data output</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <div class="header-tile">
            <h3><i>PersonWcfService</i></h3>
        </div>

        <ul class="list-group">
            <li class="list-group-item">
                lol
            </li>
            <li class="list-group-item">
                lol
            </li>
            <li class="list-group-item">
                herp
            </li>
        </ul>

    </div>
    <div class="col-xs-6">
        <div class="header-tile">
            <h3><i>CountryWcfService</i></h3>
        </div>
        
        <ul class="list-group">
            <li class="list-group-item">
                <h4>derp</h4>
                lol
            </li>
            <li class="list-group-item">
                lol
            </li>
            <li class="list-group-item">
                herp
            </li>
        </ul>
    </div>    
</div>
