<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICountryService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59546/ICountryService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICountryService"
                contract="CountryServiceReference.ICountryService" name="BasicHttpBinding_ICountryService" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>