<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICountryService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59546/ICountryService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICountryService"
                contract="CountryServiceReference.ICountryService" name="BasicHttpBinding_ICountryService" />
        </client>
    </system.serviceModel>
</configuration>